<form action="?pagina=Register&metodo=Insert" method="get" action="envio_dados.php">
    <input type="text" name="idUsuario" placeholder="Digite o Id do Usuario">
    <input type="e-mail" name="userName" placeholder="Digite seu e-mail">
    <input type="e-mail" name="userPass" placeholder="Digite sua senha">
    <input type="e-mail" name="fullName" placeholder="Digite seu nome">
    <input type="submit" name="enviar" value="Enviar">    
</form>

<form action="?pagina=Register&metodo=SelectById" method="post" action="envio_dados.php">
    <input type="text" name="idUsuario" placeholder="Digite o Id do Usuario">
    <input type="submit" name="enviar" value="Enviar">    
</form>